@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}

body,html{
	font:16px "微软雅黑",Arial;	
	color:#000;
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#323232;
	font-size:16px;	
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:16px;	
}
i,em{
	font-style: normal;
}
img{border:0;}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}
